.mb-120{
    margin-bottom: 120px;
}
.m-0{
    margin: 0;
}
.gray-btn{
    appearance: none;
    border: none;
    background: rgb(230, 230, 230);
    padding: 18px 10px;
    color: #362a19;
    font-size: 22px;
    font-family: Panton;
    border-radius: 10px;
    cursor: pointer;
}
.designers__title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.designers__title{
    margin: 0;
    font-size: 24px;
}
.designers__projects-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.designers__projects-big-img{
    width: 50%;
    margin-right: 20px;
}
.designers__projects-head-text{
    flex-basis: 47%;
}
.designers__projects-list{
    display: flex;
    justify-content: space-between;
}
.designers__projects-item{
    display: flex;
    flex-direction: column;
}
.designers__projects-img{

}
.designers__projects-label{

}